<template>
   <div class="product">

        <div class="image">
            <img :src="'/dist/' + product.image" class="image">
            <img :src="'/dist/' + product.image2" class="image">
        </div>
        <!-- end image -->
        <div class="content">
            <button class="add-btn control" @click="addToCart" v-if="qtyInCart == 0">
              ADD TO CART</button>
            <div class="clearfix control" v-else>
                <button class="inc" @click="increment">Add</button>
                <button class="dec" @click="decrement">Minus</button>
            </div>
            <div class="info">
                <span>Men category</span>
                <span class="qty" v-if="qtyInCart > 0">x{{qtyInCart}}</span>
                <h3>{{product.title}}</h3>
                <p> {{product.price}} EGP</p>
            </div>
        </div>
        <!-- end content -->
    </div>
    <!-- end product_item -->

</template>
<script>
  import _ from 'lodash'
  import State from '../shoppingCartState'

  export default {
    props: ['product'],
    data() {
      return {
        shared: State.data
      }
    },
    methods: {
      addToCart () {
        State.addProduct(this.product)
      },
      increment () {
        State.increment(this.product)
      },
      decrement () {
        State.decrement(this.product)
      }
    },
    computed: {
      qtyInCart () {
        // check for product in cart state
        var found = _.find(this.shared.cart, ['id', this.product.id])
        if(typeof found == 'object') {
          return found.qty
        } else {
          return 0
        }
      }
    }
  }
</script>
<style>

  .product {
      float: left;
      width: 23%;
      margin: 1em 1%;
      border-radius: 5px;
      position: relative;
      box-shadow: 4px 10px 20px 0px rgba(0, 0, 0, 0.1);
      transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1)
  }

  .image {
      display: block;
      width: 100%;
  }

  .image img {
      transition: all 0.5s ease-in-out
  }

  .image img:last-child {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 0;
      opacity: 0;
  }

  .content {

      position: relative;
      z-index: 9;

  }

  .info {
      padding: 0.5em 1em;
      background: #fff
  }

  h3 {
      color: #a54141;
      margin: 0.35em 0;
  }

  .price {
      margin: 0.35em 0;
      font-size: 0.9em;
  }

  .qty {
      float: right;
  }

  button {
      color: #fff;
      border-radius: 35px;
      padding: 0.7em 0;
      display: block;
      outline: none;
      background: #a54141;
      cursor: pointer;
      transition: all 0.5s cubic-bezier(0.215, 0.610, 0.355, 1);
      border: 1px solid transparent;

  }

  .add-btn {
      width: 50%;
  }

  .control {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      visibility: hidden;
      opacity: 0;
      transform: translate(-50%);
      transition: all 0.5s ease-in-out;
  }

  .clearfix.control {
      width: 90%
  }

  .clearfix.control button {
      width: 45%;

  }

  .inc {
      background: #2db644;
      margin-right: 1%;
      float: left;
  }

  .dec {
      background: #b63d2d;
      margin-left: 1%;
      float: right;
  }

  .product:hover .control {
      visibility: visible;
      opacity: 1;
      transform: translate(-50%, -60px);
  }

  .add-btn:hover {
      width: 90%;
      border: 1px solid #a54141;
      color: #a54141;
      background-color: #FFF
  }

  .clearfix.control button:hover {
      width: 50%;
      border: 1px solid #a54141;
      color: #a54141;
      background-color: #FFF
  }

  .product:hover {
      box-shadow: none
  }

  .product:hover .image img:last-child {
      opacity: 1;
  }

  .product:hover .image img:first-child {
      opacity: 0;
  }
  @media (max-width:1200px) {
    .product {
      width: 30%;
    }    
  }
  @media (max-width:991px) {
    .product {
      width: 48%;
    }    
  }
  @media (max-width:550px) {
    .product {
      float: none;
      width: 100%;
      max-width: 300px;
      margin: 1rem auto
    }    
  }
</style>