<template>
  <div class="cart">
    <div class="cart-btn"  @click="myFilter">
      <span v-if="!totalItem == 0" class="count-item">
        {{totalItem}}
      </span>
      <img src="dist/cart-icon.png" alt="cart icon">
    </div>
    <div class="cart-container" v-bind:class="{ active: isActive }">
      <p class="cart-title">Shopping Cart</p>
    <p class="cart-empty" v-if="totalPrice == 0">Your Shopping Cart is Empty!</p>
    <div class="items" v-else>
      
      <inner-cart  v-for="item in items" :itemcheck="item"></inner-cart>
    </div>
    <div class="cart-total">
      <span>Total</span>
      <span class="right">{{totalPrice}} EGP</span>
    </div>
    </div>
  </div>
</template>
<script>
  import InnerCart from './InnarCart.vue'
  import State from '../shoppingCartState'
  import _ from 'lodash'

  export default {
    data() {
      return {
        items: State.data.cart,
         isActive: false
      }
    },
    components : {InnerCart},
     methods: {
       
      myFilter () {
        this.isActive = !this.isActive;
        // console.log(this.isActive)
      }
    },
    computed: {
      totalPrice () {
        return _.sumBy(this.items, function(item) {
          return (item.price * item.qty)
        })
      },
      totalItem (){
        return _.sumBy(this.items,'qty')
      }
    },
   
  }


</script>
<style>
  .cart-container {
    margin-left: 1em;
    position: fixed;
    top: 0;
    right: 75px;
    background-color: #fff;
    padding: 0;
    box-shadow: 4px 10px 20px 0px rgba(0, 0, 0, 0.1);
    width: calc(100% - 85px);
    max-width: 350px;
    z-index: 99;
    transition: all 0.3s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
  }
  .cart-container.active{
    transform: translateY(0);
    opacity: 1;
  }
  .count-item{
    position: absolute;
    top: 23px;
    right: 13px;
    background-color: #ee3e36;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 0.7em;
    text-align: center;
    color: #fff
  }
  .cart-btn{
    position: fixed;
    background-color: #F1F1F1;
    box-shadow: 4px 10px 20px 0px rgba(0, 0, 0, 0.1);
    width: 75px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    right: 0;
    top: 0;
    transition: all 0.3s ease-in-out
  }
  .cart-btn:hover{
    box-shadow: none
  }
  .cart-btn img{
    width: 75%;
  }
  .cart-title {
    margin:  0;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 0.75em;
    background: #35495E;
    color: #fff;
  }

  .cart-empty {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    margin: 0
  }
  .cart-total {
    background: #F1F1F1;
    margin: 0;
    padding: 0.75em;
  }

  
</style>