<template>
  <div class="container">
      <div class="products">
        <div class="clearfix">
          <product v-for="product in products" :product="product"></product>
        </div>
      </div>
      <div class="shopping-cart">
        <shopping-cart></shopping-cart>
      </div>
  </div>
</template>

<script>
import ShoppingCart from './components/ShoppingCart.vue'
import Product from './components/Product.vue'
  import State from './shoppingCartState'

export default {
  created () {
    var dummy = [
      {id: 1, title: 'Name of Product 1', price: 400, image: 'product1.jpg', image2: 'product1_1.jpg'},
      {id: 2, title: 'Name of Product 2', price: 200, image: 'product2.jpg', image2: 'product2_2.jpg'},
      {id: 3, title: 'Name of Product 3', price: 100, image: 'product3.jpg', image2: 'product3_3.jpg'},
      {id: 4, title: 'Name of Product 4', price: 900, image: 'product4.jpg', image2: 'product4_4.jpg'}
    ];

    this.$set('products', dummy)
  },
  data () {
    return {
      products: [],
    }
  },
  components: { Product, ShoppingCart }
}
</script>

<style>
@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

  * {
    box-sizing: border-box;
  }


  body {
font-family: 'Nunito', sans-serif;
    margin: 0;
  }

  .clearfix:after {
     content: " ";
     visibility: hidden;
     display: block;
     height: 0;
     clear: both;
  }
  button{
        font-family: 'Nunito', sans-serif !important;
  }
  .container {
    width: 100%;
    max-width: 1400px;
    margin: auto;
    color: #4C5263;
    width: 100%;
    padding: 2em;
  }

  .products {
    width: 100%;
  }

  /* .shopping-cart {
    width: 25%;
    float: left;
  } */
</style>
